@font-face {
    font-family: "Inter";
    src: url("./Assets/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

body {
    background-color: #64548c;
    font-family: "inter", sans-serif;
}

.title{
    background-color: white;
    color: #22015e;
    width: 300px;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem auto auto;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin: 18rem auto auto;
}

.PickModeButton{
    width: 200px;
    height: 60px;
    
}